In [1]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd
import numpy as np
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import (
    StaleElementReferenceException,
    NoSuchElementException,
)
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import re
import time
import warnings
import requests
from selenium.common.exceptions import NoSuchElementException , NoSuchWindowException
from selenium.common.exceptions import StaleElementReferenceException
import time

In [ ]:
#question 1

In [8]:
driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")

C:\Users\SOOQ ELASER\AppData\Local\Temp\ipykernel_21188\2826190020.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")

In [9]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver

In [16]:
Rank =[]

try:
    title = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in title:
        Rank.append(i.text)
except NoSuchElementException :
    Rank.append('na')
    
    
Name = []

try:
    title = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody//tr/td[2]')
    for i in title:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('na') 
    
Artist = []

try:
    writer = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody//tr/td[3]')
    for i in writer:
        Artist.append(i.text)
except NoSuchElementException:
    Name.append('na')  
    
Upload_date = [] 

try:
    Upload = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody//tr/td[4]')
    for i in Upload:
        Upload_date.append(i.text)
except NoSuchElementException:
    Name.append('na') 
    
    
Views = [] 

try:
    watch = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody//tr/td[5]')
    for i in watch:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('na')

In [29]:
c

In [33]:
len(Rank),len(Views),len(Upload_date),len(Artist),len(Name)

(30, 30, 30, 30, 30)

In [34]:
df = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload_date':Upload_date,'Views':Views})
df

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.73,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.14,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.69,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.15,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.97,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.86,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.26,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,5.14,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.89,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.87,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.77,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.32,"April 5, 2018"
13,14.,"""Axel F""[34]",Crazy Frog,3.87,"June 16, 2009"
14,15.,"""Sugar""[35]",Maroon 5,3.86,"January 14, 2015"
15,16.,"""Roar""[36]",Katy Perry,3.78,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.77,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.65,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,3.61,"June 25, 2018"
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,3.58,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.56,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.50,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.44,"December 3, 2015"
23,24.,"""Perfect""[44]",Ed Sheeran,3.42,"November 9, 2017"
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.42,"June 14, 2018"
25,26.,"""Let Her Go""[46]",Passenger,3.42,"July 25, 2012"
26,27.,"""Girls Like You""[47]",Maroon 5,3.40,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.38,"January 26, 2018"
28,29.,"""Lean On""[49]",Major Lazer,3.37,"March 22, 2015"
29,30.,"""Bailando""[50]",Enrique Iglesias,3.37,"April 11, 2014"

In [ ]:
#question 2

In [35]:
driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")
driver.get('https://www.bcci.tv/')
driver

C:\Users\SOOQ ELASER\AppData\Local\Temp\ipykernel_21188\1947743619.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")

In [50]:
# Opening fixtures webpage through browser
fixtures=[]
fixtures=driver.find_element(By.XPATH,'//div[@class="card-main ng-scope slick-slide slick-current slick-active"]')
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [71]:
Match_title = []

try:
    title = driver.find_elements(By.XPATH,'//div[@class="tournament--name ng-binding ng-scope"][1]')
    for i in title:
        Match_title.append(i.text)
except NoSuchElementException:
    Match_title.append('na')   
    
    
Series = []

try:
    title = driver.find_elements(By.XPATH,'//div[@class="tournament--name ng-binding ng-scope"][2]')
    for i in title:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('na')     
    
Place = []

try:
    title = driver.find_elements(By.XPATH,'//div[@class="matchVenue alignC"]')
    for i in title:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('na')    
Date = []

try:
    title = driver.find_elements(By.XPATH,'//div[@class="matchDate alignC ng-binding ng-scope"]')
    for i in title:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('na')  

Time = []

try:
    time=driver.find_element(By.XPATH,'//div[@class="match-time no-margin ng-binding"][1]')
    Time.append(time.text)
except NoSuchElementException:
    Time.append('NA')

In [72]:
df = pd.DataFrame({'Match_title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time,'fixtures':fixtures})
df

,Match_title,Series,Place,Date,Time,fixtures
0,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,Final,"KENNINGTON OVAL , LONDON",7 JUN 2023,NA,<selenium.webdriver.remote.webelement.WebEleme...

In [ ]:
#question 3

In [2]:
driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")
driver.get('https://www.statisticstimes.com/')
driver

C:\Users\SOOQ ELASER\AppData\Local\Temp\ipykernel_19324\2109847348.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")

In [4]:
economy=[]
economy=driver.find_element(By.XPATH,'//div[@class="dropdown-content"]//a[3]')
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [11]:
state = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [26]:
Rank = []
try:
    number = driver.find_elements(By.XPATH,'//tr[@class="odd"]//td[1]')
    for i in number:
        Rank.append(i.text)
except ElementNotInteractableException:
    Rank.append('NA')
    
State = []
try:
    number = driver.find_elements(By.XPATH,'//tr[@class="odd"]//td[2]')
    for i in number:
        State.append(i.text)
except ElementNotInteractableException:
    State.append('NA')   
    
GSDP = []
try:
    number = driver.find_elements(By.XPATH,'//tr[@class="odd"]//td[3]')
    for i in number:
        GSDP.append(i.text)
except ElementNotInteractableException:
    GSDP.append('NA')   
    
GSDP_19_20 = []
try:
    number = driver.find_elements(By.XPATH,'//tr[@class="odd"]//td[4]')
    for i in number:
        GSDP_19_20.append(i.text)
except ElementNotInteractableException:
    GSDP_19_20.append('NA')    
    
    
Share_18_19 = []
try:
    number = driver.find_elements(By.XPATH,'//tr[@class="odd"]//td[5]')
    for i in number:
        Share_18_19.append(i.text)
except ElementNotInteractableException:
    Share_18_19.append('NA') 
    
    
GDP_billion = []
try:
    gdp = driver.find_elements(By.XPATH,'//tr[@class="odd"]//td[6]')
    for i in gdp:
        GDP_billion.append(i.text)
except ElementNotInteractableExeption:
        GDP_billion.append('NA')

In [27]:
len(GDP_billion),len(Share_18_19),len(GSDP_19_20),len(GSDP),len(State),len(Rank)

(34, 34, 34, 34, 34, 34)

In [29]:
df = pd.DataFrame({'Rank':Rank,'State':State,'GSDP':GSDP,'GSDP_19_20':GSDP_19_20,'Share_18_19':Share_18_19,'GDP_billion':GDP_billion})
df

,Rank,State,GSDP,GSDP_19_20,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
2,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
3,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
4,9,Telangana,"969,604","861,031",4.56%,130.791
5,11,Kerala,-,"781,653",4.14%,118.733
6,13,Haryana,"831,610","734,163",3.89%,111.519
7,15,Punjab,"574,760","526,376",2.79%,79.957
8,17,Assam,-,"315,881",1.67%,47.982
9,19,Jharkhand,"328,598","297,204",1.57%,45.145
10,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
11,23,Goa,"80,449","73,170",0.39%,11.115
12,25,Chandigarh,-,"42,114",0.22%,6.397
13,27,Meghalaya,"36,572","33,481",0.18%,5.086
14,29,Manipur,"31,790","27,870",0.15%,4.233
15,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
16,33,Andaman & Nicobar Islands,-,-,-,-
17,1,Maharashtra,-,"2,332,992",13.97%,-
18,3,Uttar Pradesh,"1,495,758","1,404,761",8.41%,"1,015,735"
19,5,Gujarat,-,"1,322,936",7.92%,-
20,7,Rajasthan,"916,014","845,247",5.06%,"630,693"
21,9,Andhra Pradesh,"875,429","776,140",4.65%,"595,605"
22,11,Kerala,-,"707,542",4.24%,-
23,13,Haryana,"755,790","666,075",3.99%,"514,983"
24,15,Punjab,"517,521","472,506",2.83%,"374,015"
25,17,Assam,-,"282,782",1.69%,-
26,19,Chhattisgarh,"288,041","266,537",1.60%,"210,837"
27,21,Himachal Pradesh,"143,063","133,303",0.80%,"107,171"
28,23,Goa,"72,181","66,060",0.40%,"56,810"
29,25,Chandigarh,-,"37,571",0.22%,-
30,27,Meghalaya,"32,833","29,544",0.18%,"23,564"
31,29,Sikkim,"28,391","25,141",0.15%,"17,060"
32,31,Arunachal Pradesh,-,"22,488",0.13%,-
33,33,Andaman & Nicobar Islands,-,-,-,-

In [ ]:
#question 5

In [2]:
driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")
driver.get('https://www.billboard.com/')
driver

C:\Users\SOOQ ELASER\AppData\Local\Temp\ipykernel_1748\2210868952.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")

In [17]:
try:
    hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))

In [61]:
song_name = []
try:
    name = driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li//h3')
    for i in name:
        song_name.append(i.text)
except ElementNotInteractableExeption:
    song_name.append('NA')
    
Artist = []
try:
    name = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]//li[1]/span')
    for i in name:
        Artist.append(i.text)
except ElementNotInteractableExeption:
    Artist.append('NA')    
    
Last_week_rank = []
try:
    name = driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li//li[3]')
    for i in name:
        Last_week_rank.append(i.text)
except ElementNotInteractableExeption:
    Last_week_rank.append('NA')    
Peak_rank = []
try:
    name = driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li//li[4]')
    for i in name:
        Peak_rank.append(i.text)
except ElementNotInteractableExeption:
    Peak_rank.append('NA') 

Weeks_on_board = []
try:
    name = driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li//li[5]')
    for i in name:
        Weeks_on_board.append(i.text)
except ElementNotInteractableExeption:
    Weeks_on_board.append('NA')

In [63]:
len(Artist),len(Weeks_on_board),len(Peak_rank),len(Last_week_rank),len(song_name)

(100, 100, 100, 100, 100)

In [64]:
df = pd.DataFrame({'song_name':song_name,'Artist':Artist,'Last_week_rank':Last_week_rank,'Peak_rank':Peak_rank,'Weeks_on_board':Weeks_on_board})
df

,song_name,Artist,Last_week_rank,Peak_rank,Weeks_on_board
0,Last Night,Morgan Wallen,1,1,16
1,All My Life,Lil Durk Featuring J. Cole,-,2,1
2,Flowers,Miley Cyrus,3,1,18
3,Kill Bill,SZA,2,1,23
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,4,4,9
...,...,...,...,...,...
95,Forever,Lil Baby Featuring Fridayy,87,8,19
96,Private Landing,Don Toliver Featuring Justin Bieber & Future,100,72,6
97,I Heard,YoungBoy Never Broke Again,-,98,1
98,Sunrise,Morgan Wallen,89,30,11
99,Happy,NF,95,54,6

In [ ]:
#question 6

In [150]:
driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver

C:\Users\SOOQ ELASER\AppData\Local\Temp\ipykernel_1748\2005130249.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")

In [151]:

Book = []
try:
    name = driver.find_elements(By.XPATH,'//td[@class="left"][2]')
    for i in name:
        Book.append(i.text)
except ElementNotInteractableExeption:
    Book.append('NA')
Author = []
try:
    name = driver.find_elements(By.XPATH,'//td[@class="left"][3]')
    for i in name:
        Author.append(i.text)
except ElementNotInteractableExeption:
    Author.append('NA')
Volumes = []
try:
    Name = driver.find_elements(By.XPATH,'//td[@class="left"][4]')
    for i in Name:
        Volumes.append(i.text)
except ElementNotInteractableExeption:
    Volumes.append('NA')
Publisher = []
try:
    Name = driver.find_elements(By.XPATH,'//td[@class="left"][5]')
    for i in Name:
        Publisher.append(i.text)
except ElementNotInteractableExeption:
    Publisher.append('NA')  
Genre = []
try:
    Name = driver.find_elements(By.XPATH,'//td[@class="last left"]')
    for i in Name:
        Genre.append(i.text)
except ElementNotInteractableExeption:
    Genre.append('NA')

In [153]:
len(Genre),len(Publisher),len(Volumes),len(Author),len(Book)

(100, 100, 100, 100, 100)

In [154]:
df = pd.DataFrame({'Book':Book,'Author':Author,'Volumes':Volumes,'Publisher':Publisher,'Genre':Genre})
df

,Book,Author,Volumes,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
#question 7

In [155]:
driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")
driver.get('https://www.imdb.com/list/ls095964455/')
driver

C:\Users\SOOQ ELASER\AppData\Local\Temp\ipykernel_1748\461462339.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")

In [156]:
Name = []
try:
    name = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
    for i in name:
        Name.append(i.text)
except ElementNotInteractableExeption:
    Name.append('NA')

Year = []
try:
    name = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//span[2]')
    for i in name:
        Year.append(i.text)
except ElementNotInteractableExeption:
    Year.append('NA')
Run_time = []
try:
    name = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]//span[3]')
    for i in name:
        Run_time.append(i.text)
except ElementNotInteractableExeption:
    Run_time.append('NA')    
Genre = []
try:
    name = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]//span[5]')
    for i in name:
        Genre.append(i.text)
except ElementNotInteractableExeption:
    Genre.append('NA')  
    
Ratings = []
try:
    name = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div[1]')
    for i in name:
        Ratings.append(i.text)
except ElementNotInteractableExeption:
    Ratings.append('NA')  
Votes = []
try:
    name = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]//span[2]')
    for i in name:
        Votes.append(i.text)
except ElementNotInteractableExeption:
    Votes.append('NA')

In [157]:
len(Name),len(Year),len(Run_time),len(Genre),len(Ratings),len(Votes)

(100, 100, 100, 100, 100, 100)

In [158]:
df = pd.DataFrame({'Name':Name,'Year':Year,'Run_time':Run_time,'Genre':Genre,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year,Run_time,Genre,Ratings,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.2,"2,162,258"
1,Stranger Things,(2016–2022),51 min,"Drama, Fantasy, Horror",8.7,"1,242,411"
2,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.1,"1,027,224"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.5,"302,178"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"261,285"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,Drama,7.4,"51,670"
96,A Series of Unfortunate Events,(2017–2019),50 min,"Adventure, Comedy, Drama",7.8,"63,709"
97,Criminal Minds,(2005– ),42 min,"Crime, Drama, Mystery",8.1,"207,657"
98,Scream: The TV Series,(2015–2019),45 min,"Comedy, Crime, Drama",7,"43,208"
99,The Haunting of Hill House,(2018),572 min,"Drama, Horror, Mystery",8.6,"258,171"

In [ ]:
#question 8

In [160]:
driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")
driver.get('https://archive.ics.uci.edu/ml/index.php')
driver

C:\Users\SOOQ ELASER\AppData\Local\Temp\ipykernel_1748\3416209598.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")

In [161]:
datasets=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [162]:
# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [163]:
# Scraping DataSet Name via Xpath
from tqdm import tqdm
try:
    dataset=driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
try:
    Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in Type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    
try:
    task = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
           
try:
    task = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in task[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA') 
try:
    no_of_Instances=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')
try:
    no_of_Attribute=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')
    
try:
    year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

100%|████████████████████████████████████████████████████████████████████████████████| 622/622 [02:06<00:00,  4.93it/s]

In [164]:
task = Task[:622] 
attribute_Type = Attribute_Type[:622]
dataset = Dataset[:622]
data_Type = Data_Type[:622]
len(dataset),len(data_Type),len(task),len(attribute_Type),len(No_of_Instances),len(Year)

(622, 622, 622, 622, 622, 622)

In [165]:
df = pd.DataFrame({'dataset':dataset,'data_Type':data_Type,'task':task,'attribute_Type':attribute_Type,'No_of_Instances':No_of_Instances,'Year':Year})
df

,dataset,data_Type,task,attribute_Type,No_of_Instances,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,1998
...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,2020
619,Maternal Health Risk Data Set,,Classification,,1014,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2021

In [ ]:
#question 9

In [3]:
driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")
driver.get('https://www.naukri.com/hr-recruiters-consultants')
driver

C:\Users\SOOQ ELASER\AppData\Local\Temp\ipykernel_16144\4292052546.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\SOOQ ELASER\Desktop\filp robo\chromedriver.exe")

In [4]:
location = driver.find_element(By.CLASS_NAME,'sugInp')
location.send_keys('Data science')

In [5]:
search = driver.find_element(By.ID,'qsbFormBtn')
search.click()

In [6]:
Name =[]
Designation =[]
Company =[]
Skill =[]
Location =[]


try:
    name = driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
        Name.append('NA')
    
try:
    name = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in name:
        Designation.append(i.text)
except NoSuchElementException:
        Designation.append('NA')    
try:
    name = driver.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
    for i in name:
        Company.append(i.text)
except NoSuchElementException:
        Company.append('NA')     
try:
    name = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in name:
        Skill.append(i.text)
except NoSuchElementException:
        Skill.append('NA')
try:
    name = driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
    for i in name:
        Location.append(i.text)
except NoSuchElementException:
        Location.append('NA')

In [7]:
company = Company[:49]
designation = Designation[:49]
name = Name[:49]
skill = Skill[:49]
len(company),len(designation),len(name),len(skill),len(Location)

(49, 49, 49, 49, 49)

In [8]:
df = pd.DataFrame({'name':name,'Designation':designation,'Skill':skill,'Company':company,'Location':Location})
df

,name,Designation,Skill,Company,Location
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network,Delhi
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP,Pune
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd,Ahmedabad
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",LibraryXProject,UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Apidel Technologies Division of Transpower,Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,Data Science,IFMR,Chennai
7,Balu Ramesh,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Techvantage Systems Pvt Ltd,Trivandrum
8,Asif Lucknowi,Director,"Technical Training, Software Development, Pres...",Weupskill- Live Wire India,Indore
9,InstaFinancials,Human Resource,"Software Development, It Sales, Account Manage...",CBL Data Science Private Limited,Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Innominds Software,Hyderabad / Secunderabad
11,Mubarak,Company HR,"Business Intelligence, Data Warehousing, Data ...",MoneyTap,Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,"Office Administration, Hr Administration, tele...",QuantMagnum Technologies Pvt. Ltd.,Mumbai
13,Priyanka Akiri,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET...",Infinitive Software Solutions,Hyderabad
14,Kapil Devang,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",BISP Solutions,Bhopal
15,Mahesh Babu Channa,HR Team Lead,"Social Media, digital media maketing, seo, smm...",SocialPrachar.com,Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,"Data Science, Python, Data Analytics",Codeachive learning,Mumbai
17,Sakshi Chhikara,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin...",BIZ INFOTECNO PRIVATE LIMITED,Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Bristlecone India Ltd,Pune
19,Manisha Yadav,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Easi Tax,Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Data Science,Novelworx Digital Solutions,Cochin
21,Rashmi Bhattacharjee,HR Head,"Corporate Sales, Software Development, Softwar...",AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi
22,Faizan Kareem,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Affine Analytics,Pune
24,Sandhya Khandagale,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Compumatrice Multimedia Pvt Ltd,Pune
25,Shaun Rao,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Exela Technologies,Pune
26,Deeparchi Sharma,Company Recruiter,"Research, Digital Marketing, Analytics, Softwa...",ZIGRAM,Gurgaon
27,Azahar Shaikh,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",NEAL ANALYTICS SERVICES PVT LTD,Pune
28,Manas,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore
29,kumar,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",trainin,Bengaluru / Bangalore
30,Sunil Vedula,CEO,"Signal Processing, Machine Learning, Neural Ne...",Nanoprecise Sci Corp,Delhi
31,Rajat Kumar,Founder CEO,"Web Technologies, Project Management, Software...",R.S Consultancy &amp; Services,Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",NETAPS FOUNDATION,Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,"Data Science, Machine Learning, Deep Learning,...",RMS Risk Management Solutions,Mysoru / Mysore
34,Jayanth N,Project Manager,"Data Analytics, Managed Services, Team Leading...","Dollarbird Information Services Pvt, Ltd",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,"Ethical Hacking, Security Operations Center, S...",Nikitha Palaparthi,Bengaluru / Bangalore
36,Priya Khare,Senior Manager,"Data Science, Artificial Intelligence, analyti...",Independent Consultant,New Delhi
37,Amit Sharma,Consultant,"Machine Learning, Artificial Intelligence, Dat...",ASCO consulting,Chennai
38,Kanan,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",NY INST,Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",3D India Staffing Research &amp; Consulting...,Salt Lake City
40,Brad,"Manager, Technical Recruiting","Data Science, Software Engineering",O.C. Tanner,Pune
41,Rutuja Pawar,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Demand Matrix,Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,"Data Science, Recruitment, Salary",MADHUSUDHAN SRIDHAR,Mumbai
43,Ankit Sinha,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Suntech Global,Indore
44,Gaurav Chouhan,Chief Technical Officer,"Software Development, Business Intelligence, B...",Strategic Consulting Lab,Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,"Data Science, Node.js, Angularjs",Impel Labs Pvt. Ltd.,MYSORE
46,Ashwini,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",MRP Advisers,Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Saras Solutions India Pvt Ltd,Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",WildJasmine,Mumbai

In [ ]:
#question 4

In [5]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

C:\Users\SOOQ ELASER\AppData\Local\Temp\ipykernel_13556\3963522523.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\chromedriver.exe')

In [7]:
trending=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [10]:
Repository_title = []
try:
    title = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in title:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('NA')
Repository_description = []
try:
    title = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in title:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('NA')
Contributors_count = []
try:
    title = driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"][2]')
    for i in title:
        Contributors_count.append(i.text)
except NoSuchElementException:
     Contributors_count.append('NA')
        
Language = []
try:
    title = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for i in title:
        Language.append(i.text)
except NoSuchElementException:
     Language.append('NA')

In [21]:
len(Language),len(contributors_count),len(repository_description),len(repository_title)

(24, 24, 24, 24)

In [20]:
contributors_count = Contributors_count[:24]
repository_description = Repository_description[:24]
repository_title = Repository_title[:24]

In [24]:
df= pd.DataFrame({'Repository_title':repository_title,'Repository_description':repository_description,'Contributors_count':contributors_count,'Language':Language})
df

,Repository_title,Repository_description,Contributors_count,Language
0,geohot / tinygrad,You like pytorch? You like micrograd? You love...,"1,258",Python
1,artidoro / qlora,QLoRA: Efficient Finetuning of Quantized LLMs,270,Jupyter Notebook
2,ShishirPatil / gorilla,Gorilla: An API store for LLMs,42,Python
3,TheMCHK / WindowsXPKg,Windows XP keygen,49,C++
4,gptlink / gptlink,10分钟搭建自己可免费商用的ChatGPT环境，搭建简单，包含用户，订单，任务，付费等功能,135,PHP
5,SamurAIGPT / privateGPT,An app to interact privately with your documen...,24,JavaScript
6,xorvoid / sectorc,A C Compiler that fits in the 512 byte boot se...,26,C
7,vue-vine / vue-vine,Another style of writing Vue components.,5,TypeScript
8,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"32,248",TypeScript
9,microsoft / devicescript,TypeScript for Tiny IoT Devices,25,TypeScript
10,dolphin-emu / dolphin,"Dolphin is a GameCube / Wii emulator, allowing...","2,279",C++
11,Neo-Desktop / WindowsXPKg,Keygen for Windows XP,38,C++
12,neetcode-gh / leetcode,Leetcode solutions,"1,566",JavaScript
13,CodinGame / SpringChallenge2023,https://www.codingame.com/contests/spring-chal...,13,Java
14,OpenGVLab / InternGPT,InternGPT (iGPT) is an open source demo platfo...,96,Python
15,xcanwin / KeepChatGPT,这是一个ChatGPT的畅聊与增强插件。开源免费。不仅能解决所有报错不再刷新，还有保持活跃、...,451,JavaScript
16,AbdullahAlfaraj / Auto-Photoshop-StableDiffusi...,A user-friendly plug-in that makes it easy to ...,264,JavaScript
17,massgravel / Microsoft-Activation-Scripts,A Windows and Office activator using HWID / KM...,"3,745",Batchfile
18,Liuhong99 / Sophia,The official implementation of “Sophia: A Scal...,14,Python
19,ZeroMemoryEx / Blackout,kill anti-malware protected processes (BYOVD),31,C++
20,iperov / DeepFaceLive,Real-time face swap for PC streaming or video ...,"1,646",Python
21,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,"15,224",Python
22,JushBJJ / Mr.-Ranedeer-AI-Tutor,A GPT-4 AI Tutor Prompt for customizable perso...,803,Python
23,commaai / openpilot,openpilot is an open source driver assistance ...,"7,320",C++